// font-base
$font-size-base: 10px !default;

// font-family-base
$font-family-base: "微软雅黑";

// colors
$light:     #ffffff !default;
$energized: #f4e727 !default;
$dark:      #0a0a0a !default;

//theme
$default-bar:   #2bb8aa !default;
$header-bar-height: 50px !default;